h2 {
    color: rgb(213, 154, 247);
    text-align: center;
    text-decoration: underline
}

p {
    color: rgb(0, 21, 255);
    font-family: arial;
}

#test {
    color: green;
    font-family: courier;
    text-align: center
}

button {
    font-family: verdana;
    color: pink
}

.test2 {
    color: orange;
    font-family: georgia;
    text-align: right
}

span {
    color: red;
    font-family: tahoma;
    text-align: left
}

span a {
    color: purple;
    font-family: helvetica;
    text-decoration: none
}