h1 {
    display: inline;
    /*margins and padding arent respected in inline*/
    /* at least top and bottom margins and padding arent*/
    /* width/height are never respected in inline*/
    /* display: block; blocks are respected but break flow of page */
    color: rgb(183, 0, 255);
}

div {
    display: inline-block;
    background-color: lightblue;
    border: 5px solid black;
}